.guessedletters {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 320px;
    padding: 20px;
}

.submit {
    color: black;
    background-color: rgb(192, 55, 66);
}

#guessletter {
    width: 80px;
}

#guessword {
    width: 80px;
}